<div id="explore">
	<table>
		<tbody>
			{{#each beacons}}
			<tr>
				<td class="distance">
					<div class="circle">{{distance}}FT</div>
				</td>
				<td class="name">
					{{name}}
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>