<div id="explore">
	<h1 class="section-header" >SEARCHING FOR BEACONS NEAR YOU</h1>

	<div class="scanner">
		<div class="circle" id="first">
			<div class="circle" id="first"></div>
			<div class="circle" id="second"></div>
			<div class="circle" id="third"></div>
			<div class="circle" id="fourth"></div>
			<div class="circle" id="fifth"></div>
			<div class="circle" id="sixth"></div>
		</div>
	</div>
</div>