<div id="create">
	<h1>SELECT CONTENT</h1>

	<div class="row">
		<div class="col-xs-6 text-center">
			<span class="fa fa-file-text-o"></span>
		</div>
		<div class="col-xs-6 text-center">
			<span class="glyphicon glyphicon-headphones"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 text-center">
			<span class="fa fa-play-circle"></span>
		</div>
		<div class="col-xs-6 text-center">
			<span class="fa fa-camera-retro"></span>
		</div>
	</div>
</div>