<div id="create">
	<h1>SELECT CONTENT</h1>

	<div class="row" id="content-selection">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="row">
				<div class="col-xs-6 text-center">
					<a href="#create/text">
						<div class="circle">
							<span class="fa fa-file-text-o"></span>
						</div>
					</a>
				</div>
				<div class="col-xs-6 text-center">
					<a href="#create/audio">
						<div class="circle" id="audio">
							<span class="glyphicon glyphicon-headphones"></span>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 text-center">
					<a href="#create/video">
						<div class="circle">
							<span class="fa fa-play-circle"></span>
						</div>
					</a>
				</div>
				<div class="col-xs-6 text-center">
					<a href="#create/photo">
						<div class="circle" id="camera">
							<span class="fa fa-camera-retro"></span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>