$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';
@import 'navigation.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    margin-top: 20px;
}

// Scrolling fix
#content {
    position: fixed;
    height: 100%;

    .container {
        overflow-y: scroll;
        height: 100%;
        padding-bottom: 80px; // This is fucking up somehow. Allow for now.
        margin-top: 60px;

        &.slide-active {
            margin-top: 0;
        }
    }

    &.slide-active {
        position: static;
    }
}